<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="/bower/angular/angular.js"></script>
    <script src="/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/bower/angular-resource/angular-resource.js"></script>
    <script src="/bower/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower/angular-jwt/dist/angular-jwt.js"></script>
    <script src="/angular/nutmApp.js"></script>
    <script src="/angular/controllers.js"></script>
    <script src="/angular/services.js"></script>
    <link rel='stylesheet' href='/bower/bootstrap/dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body ng-app="nutmApp">
    <ng-include src="'/templates/navbar.html'"></ng-include>
    <div class="container">
        <div ng-controller="alertController">
            <div ng-repeat="alert in alerts" class="alert alert-dismissible" ng-class="'alert-' + alert.type">
                <button type="button" class="close" ng-click="closeAlert($index)">&times;</button>
                {{ alert.msg }}
            </div>
        </div>
        <p ng-if="errorMsg" ng-bind="errorMsg"></p>
        <ui-view></ui-view>
    </div>
  </body>
</html>
