<div ng-if="user.loggedIn">
    <span>Logged in as {{ user.token.decoded.name }}, valid from {{ user.token.decoded.iat * 1000 | date : 'mediumTime' }} to {{ user.token.decoded.exp * 1000 | date : 'mediumTime' }}</span>
    <button ng-click="user.logout()">Log out!</button>
    <div ng-if="user.token.decoded.admin">
        You are an administrator!
        <button ng-click="showUsers()">Show Users</button>
        <pre ng-if="userList" ng-bind="userList | json"></pre>
    </div>
</div>
<div ng-if="!user.loggedIn">
    <form ng-submit="user.login(auth)">
        <input type="text" id="name" ng-model="auth.username" placeholder="Username" />                
        <input type="password" id="password" ng-model="auth.password" placeholder="Password" />
        <input type="submit" value="Log in!" />
    </form>
    <button ng-click="user.login({username:'zlodag',password:'zlodag'})">Log in as zlodag!</button>
    <button ng-click="user.login({username:'pleb',password:'fool'})">Log in as pleb!</button>
</div>