<form ng-submit="submit(newTask)" name="form" novalidate>
	<div class="form-group" ng-class="{'has-error':form.patient.$dirty && form.patient.$invalid}">
		<label for="patient">Patient name</label>
		<input id="patient" name="patient" class="form-control" type="text" ng-model="newTask.patient.name" required/>
	</div>
	<div class="form-group" ng-class="{'has-error':form.nhi.$dirty && form.nhi.$invalid}">
		<label for="nhi">NHI</label>
		<input id="nhi" name="nhi" class="form-control" type="text" ng-model="newTask.patient.nhi" required ng-pattern="/^[a-zA-Z]{3}[0-9]{4}$/"/>
	</div>
	<div class="form-group" ng-class="{'has-error':form.ward.$dirty && form.ward.$invalid}">
		<label for="ward">Ward</label>
		<select id="ward" name="ward" class="form-control" ng-model="newTask.patient.ward" required
			ng-options="ward._id as ward.name group by ward.building for ward in wards"
		><option value="">Select a ward</option></select>
	</div>
	<div class="form-group" ng-class="{'has-error':form.bed.$dirty && form.bed.$invalid}">
		<label for="bed">Bed</label>
		<input id="bed" name="bed" class="form-control" type="text" ng-model="newTask.patient.bed" required ng-maxlength="3"/>
	</div>
	<div class="form-group" ng-class="{'has-error':form.specialty.$dirty && form.specialty.$invalid}">
		<label for="specialty">Specialty</label>
		<select id="specialty" name="specialty" class="form-control" ng-model="newTask.patient.specialty" required
			ng-options="specialty._id as specialty.name for specialty in specialties"
		><option value="">Select a specialty</option></select>
	</div>
	<div class="form-group" ng-class="{'has-error':form.text.$dirty && form.text.$invalid}">
		<label for="text">Text</label>
		<input id="text" name="text" class="form-control" type="text" ng-model="newTask.text" required/>
	</div>
	<div class="form-group" ng-class="{'has-error':form.urgency.$dirty && form.urgency.$invalid}">
		<label for="urgency">Urgency</label>
		<input id="urgency" name="urgency" class="form-control" type="number" ng-model="newTask.urgency" required min="0" max="3" ng-pattern="/^[0-9]+$/"/>
	</div>
	<button type="submit" class="btn btn-primary">Update</button>
</form>
