
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>NHI</th>
                <th>Patient</th>
                <th>Ward</th>
                <th>Specialty</th>
                <th>Urgency</th>
                <th>Text</th>
                <th>Added</th>
                <th>Accepted</th>
                <th>Completed</th>
                <th>Cancelled</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="task in task.tasks track by task._id">
                <td ng-bind="task.patient.nhi"></td>
                <td>Patient Name</td>
                <td>
                    <a ui-sref="ward({wardId: task.patient.ward._id })">{{task.patient.ward.name}} - {{task.patient.bed}}</a>
                </td>
                <td>
                    <a href="/specialty/{{ task.patient.specialty._id }}" ng-bind="task.patient.specialty.name"></a>
                </td>
                <td ng-bind="task.urgency"></td>
                <td>
                    <a ui-sref="taskDetail({taskId:task._id})">
                        <span ng-bind="task.text"></span>
                        <span class="badge" ng-if="task.comments" ng-bind="task.comments"></span>
                    </a>
                </td>
                <td>
                    <div>
                        Added
                        by <a ui-sref="user({userId: task.added.user._id})">{{task.added.user.name.first}} {{task.added.user.name.last}}</a>
                        at <em ng-bind="task.added.time | date : 'mediumTime'"></em>
                        <span class="glyphicon glyphicon-comment" ng-if="task.added.comment"></span>
                    </div>
                </td>
                <td>
                    <div ng-if="task.accepted">
                        Accepted
                        by <a ui-sref="user({userId: task.accepted.user._id})" ng-bind="task.accepted.user.username"></a>
                        <em>({{task.accepted.user.name.first}} {{task.accepted.user.name.last}})</em>
                        at <em ng-bind="task.accepted.time | date : 'mediumTime'"></em>
                        <span class="glyphicon glyphicon-comment" ng-if="task.accepted.comment"></span>
                    </div>
                </td>
                <td>
                    <div ng-if="task.completed">
                        Completed
                        by <a ui-sref="user({userId: task.completed.user._id})" ng-bind="task.completed.user.username"></a>
                        <em>({{task.completed.user.name.first}} {{task.completed.user.name.last}})</em>
                        at <em ng-bind="task.completed.time | date : 'mediumTime'"></em>
                        <span class="glyphicon glyphicon-comment" ng-if="task.completed.comment"></span>
                    </div>
                </td>
                <td>
                    <div ng-if="task.cancelled">
                        Cancelled
                        by <a ui-sref="user({userId: task.completed.user._id})" ng-bind="task.cancelled.user.username"></a>
                        <em>({{task.cancelled.user.name.first}} {{task.cancelled.user.name.last}})</em>
                        at <em ng-bind="task.cancelled.time | date : 'mediumTime'"></em>
                        <span class="glyphicon glyphicon-comment"></span>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<form ng-submit="task.addOne(newTask)">
  <input type="text" ng-model="newTask.nhi" placeholder="NHI" pattern="^[a-zA-Z]{3}[0-9]{4}$" required />
  <input type="text" ng-model="newTask.bed" placeholder="Bed" required />
  <input type="number" ng-model="newTask.urgency" min="0" max="3" required />
  <input type="text" ng-model="newTask.text" placeholder="Text" required />
  <button type="submit">Add Task!</button>
  <pre ng-bind="newTask | json"></pre>
</form>
