<div class="page.header">
    <h3 ng-bind="task.text"></h3><h5 ng-bind="task.added.time | date : 'short'"></h5>
</div>
<blockquote ng-repeat="comment in task.comments">
    <p ng-bind="comment.comment"></p>
    <footer>by <a ui-sref="user({userId: comment.user._id})" ng-bind="comment.user.fullname"></a>
                            at <em ng-bind="comment.time | date : 'short'"></em></footer>
</blockquote>
<form ng-submit="addComment(newComment)">
    <h3>Add a new comment</h3>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Comment" ng-model="newComment"></input>
    </div>
    <button type="submit" class="btn btn-primary">Post</button>
</form>
